@import '../../sass/variable.scss';
.portfolio-container{
    margin: 3rem 0;
    ul{
        li{
            color: $green-font;
            span{
                color: black;
            }
        }
    }
    .skills-list{
        padding-left: 5rem;
        padding-right: 4rem;
    }
}
.summary-text{
    padding-left:3rem ;
    padding-right: 4rem;
}
